body{
    background-color: blue;
    text-align: center;
}
header{
    text-align: center;
    background-color: red;
    border-color: blue;
    border-style: solid;
}
#menu{
    background-color: red;
    }
    #menu ul{
        list-style: none;
        margin: 0px;
        padding: 0px;
    
    }  
    #menu ul li {
        display: inline-block;
        color: white;
    }  
    #menu ul li a{
        color: blue;
        text-decoration: none; 
        display: block;
        padding: 10px;
    }
    #menu ul li a:hover{
    background-color: white;
    }