body {
    background-color: black;
    text-align: center;
}

header {
    background-color: red;
    text-align: center;
}

#menu {
    background-color: black;
}

#menu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#menu ul li {
    display: inline-block;
    color: white;
}

#menu ul li a {
    color: red;
    text-decoration: none;
    display: block;
    padding: 10px;
}

#menu ul li a:hover {
    background-color: white;
}

.sony2img {
    float: right, 50px;
    margin: 30px;
}